# AUTH - openssl rand -base64 32
AUTH_SECRET="generated-secret-key"
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=http://localhost:3000

# DB
DB_USER=postgres
DB_NAME=teslo-shop
DB_PASSWORD=postgres
DATABASE_URL="postgresql://user:password@localhost:5433/db-name?schema=public"

# PAYPAL - https://developer.paypal.com/dashboard
NEXT_PUBLIC_PAYPAL_CLIENT_ID=paypal_client_id
PAYPAL_SECRET=paypal_secret

# ACCESS TOKEN (POST)
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token

# CREAR ORDEN (GET)
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

# CLOUDINARY - https://cloudinary.com/
CLOUDINARY_URL=cloudinary_url

# API
NEXT_PUBLIC_API_URL=http://localhost:3001