@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    /* background: var(--background); */
    background: linear-gradient(to bottom, transparent, rgb(var(--background-start-rgb)))
        rgb(var(--background-end-rgb));
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.btn-primary {
    @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
    @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.btn-disabled {
    @apply bg-gray-600 text-white py-2 px-4 rounded transition-all;
}

.btn-danger {
    @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 transition-all;
}
